.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    border: 1px black;

}

.item {
    border-style: 1px black;
    padding: 4px;
    border-style: solid;
}

.item img{
    width: 50%;
    border-style: solid;
}

.button {
    height: 30px;
    width: 100px;
}
